@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb_Black.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb_Black.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Black.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb_Black.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb_Black.ttf?1532072864') format('truetype');
    font-weight: 900;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Bold.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb_Bold.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb_Bold.ttf?1532072864') format('truetype');
    font-weight: "bold";
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Medium.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb_Medium.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb_Medium.ttf?1532072864') format('truetype');
    font-weight: 500;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb_Light.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Light.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb_Light.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb_Light.ttf?1532072864') format('truetype');
    font-weight: 300;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_UltraLight.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb_UltraLight.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb_UltraLight.ttf?1532072864') format('truetype');
    font-weight: 200;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans";
    src: url('../fonts/eot/IRANSansWeb.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb.ttf?1532072864') format('truetype');
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf?1532072864') format('truetype');
    font-weight: 900;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf?1532072864') format('truetype');
    font-weight: "bold";
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf?1532072864') format('truetype');
    font-weight: 500;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf?1532072864') format('truetype');
    font-weight: 300;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf?1532072864') format('truetype');
    font-weight: 200;
    font-style: "normal";
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url('../fonts/eot/IRANSansWeb.eot?1532072864');
    src: url('../fonts/eot/IRANSansWeb.eot?&1532072864#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum).woff2?1532072864') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum).woff?1532072864') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum).ttf?1532072864') format('truetype');
    font-weight: "normal";
    font-style: "normal";
}


/* ------------------------------ Bootstrap Icon ---------------------------- */
@font-face {
    font-family: "bootstrap-icons";
    src: url("../fonts/icons/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"),
    url("../fonts/icons/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
}
/* ------------------------------ Bootstrap Icon ---------------------------- */