@import url('fonts.css');
@import url('bootstrap.icon.css');

* {
    scrollbar-width: thin;
    /*scrollbar-color: #a5a5a5 #d8d8d8;*/
}

body {
    font-family: IRANSans, Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;
    background: #f7f7f7;
    /*color: #4f4f4f;*/
    color: #495057;
    font-size: 14px;
    font-weight: 400;
}


/* region RezaToast */
/* ==================== Toast ==================== */
.reza-toast {
    width: 300px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.30) !important;
}
.reza-toast.success {
    background: rgba(23, 138, 7, 0.90);
}
.reza-toast.error {
    background: rgba(254, 0, 36, 0.90);
}
.reza-toast.info {
    background: rgba(7, 138, 132, 0.90);
}
.reza-toast.warning {
    background: rgba(255, 179, 0, 0.9);
}

.reza-toast.toast-text-justify {
    text-align: justify;
    font-size: 12px;
}

.reza-toast .toast-progress {
    width: 0;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    right: 0;
}

.reza-toast.toast-bottom-right {
    right: 20px;
    bottom: 20px;
}

/* ==================== Toast ==================== */
/* endregion RezaToast */

/* region Bootstrap Customized */
/* ==================== My Style ==================== */
button,input,optgroup,select,textarea,a:focus{
    box-shadow: none !important;
}
.breadcrumb-shadow {
    box-shadow: 0px 8px 18px -1px rgba(41,48,66,.1);
}
.breadcrumb {
    font-size: 13px;
}
.breadcrumb a {
    text-decoration: none;
    color: #696969;
}

#unreadCommentDropdown {
    height: 250px;
    overflow-y: auto;
    overflow-x: auto;
    width: 195px;
    z-index: 1080;
}
#unreadComment::after {
    display: none !important;
}
#unreadCommentCount {
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    bottom: 10px;
    right: -12px;
}
/* ==================== My Style ==================== */
/* endregion Bootstrap Customized */



/* region select2*/
.select2-container {
    width: 100% !important;
}
/* endregion select2*/


/* region Customized */
/* ==================== My Style ==================== */
.g-recaptcha-bubble-arrow {
    position: relative !important;
}
.required {
    color: red;
}
.cursor-pointer {
    cursor: pointer;
}
.fw-900 {
    font-weight: 900;
}
.fw-500 {
    font-weight: 500;
}
.fw-300 {
    font-weight: 300;
}
.fw-200 {
    font-weight: 200;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}

.text-justify {
    text-align: justify;
}

.accounts {
    background-image: url('/assets/img/login.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.accounts #content #des {
    background-image: linear-gradient(to right, rgba(21, 151, 229, 0.3), rgb(0, 0, 0));
}

.step-circle {
    content: "";
    display: inline-block;
    border: #d52b1e 5px solid;
    border-radius: 50%;
    padding: 4px;
    vertical-align: top;
    position: relative;
    top: 4px;
}

#dashboard-report-items i {
    width: 35px;
    height: 35px;
}

#avatar {
    /*width: 80px;*/
    /*height: 40px;*/
    /*background: rgba(0, 0, 0, .7);*/
    /*font-size: 30px;*/
    /*display: block;*/

    display: inline-block;
    width: 80px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    border-radius: 50% / 0 0 100% 100%;
    bottom: 0;
    font-size: 30px;
}

#header {
    background: #fff;
    border-bottom: 1px solid #d9dee4;
}
#header #btn-reza-sidebar {
    color: #495057;
}


.offcanvas-start {
    width: 250px !important;
}

.menu-show-right {
    padding-right: 250px;
}
.menu-show-left {
    padding-left: 250px;
}


#reza-sidebar {
    background: #1597e5;
    transition: 0s;
}
#reza-sidebar.is-show {
    transform: none;
}
#reza-sidebar .offcanvas-header {
    border-bottom: 1px solid #475bff;
    padding: 11px 10px;
}
#reza-sidebar .offcanvas-header span {
    color: #fff;
}
#reza-sidebar #sidebar-links .link-item {
    text-decoration: none;
    color: #c8f2ff;
}
#reza-sidebar #sidebar-links .link-item.active, #reza-sidebar #sidebar-links .link-item:hover {
    color: #104cbb;
    background-color: #4cabff;
    border-right: 2px dashed #03f0fc;
    border-left: 2px dashed #03f0fc;
}



.required {
    color: #ff2a2a;
    font-size: 14px;
}





#profile-info {
    width: 80px;
    height: 80px;
}

#profile-info input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 323;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#avatar-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#box-camera {
    top: 68% !important;
}

#profile-info:hover #box-camera {
    top: 0 !important;
    height: 100% !important;
}

#profile-info:hover #box-camera::before {
    top: 45.5%;
}

#profile-info #box-camera {
    background: rgba(14, 14, 14, .42);
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 100%;
    width: 100%;
    -webkit-transition: top .3s;
    transition: top .3s;
    z-index: 1;
    right: 0;
}

#box-camera::before {
    content: '';
    background: url(../img/camera.svg) no-repeat 50%;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 40%;
    top: 3px;
    z-index: 2
}


.comment-chat-body {
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.comment-chat-area {
    background-color: rgba(0,0,0,0.4);
    height: 80vh;
}
.comment-chat-area .messages {
    height: 90%;
    overflow: auto;
}
.comment-chat-area .messages .bg-success {
    background-color: #78e08f !important;
}
.comment-chat-area .messages .bg-info {
    background-color: #82ccdd !important;
}
.comment-chat-area .actions-area {
    background-color: rgba(0,0,0,0.4);
}
.comment-chat-area .actions-area button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.comment-chat-area .actions-area .input-group-text {
    background: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}
.comment-chat-area .actions-area input {
    background: none;
    border: none;
    border-right: 1px solid #1a1e21;
    border-left: 1px solid #1a1e21;
    color: white;
}



.btn-upload-file {
    border: #ccc 1px solid;
    background-image: linear-gradient(white, #dcdcd8);
    color: #4d4d4d;
    font-size: 13px;
}
/* ==================== My Style ==================== */
/* endregion Customized */








